apiVersion: v1
kind: Service
metadata:
  name: datanode
  labels:
    app: datanode
spec:
  clusterIP: None
  ports:
  - port: 9864
    name: web
  - port: 9866
    name: data
  - port: 9867
    name: ipc
  selector:
    app: datanode
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: datanode
spec:
  serviceName: datanode
  replicas: 3
  selector:
    matchLabels:
      app: datanode
  template:
    metadata:
      labels:
        app: datanode
    spec:
      containers:
      - name: datanode
        image: apache/hadoop:3.3.6
        command: ["/bin/bash", "-c"]
        args:
        - hdfs datanode
        ports:
        - containerPort: 9864
          name: web
        - containerPort: 9866
          name: data
        - containerPort: 9867
          name: ipc
        volumeMounts:
        - name: hadoop-config
          mountPath: /opt/hadoop/etc/hadoop/core-site.xml
          subPath: core-site.xml
        - name: hadoop-config
          mountPath: /opt/hadoop/etc/hadoop/hdfs-site.xml
          subPath: hdfs-site.xml
        - name: datanode-data
          mountPath: /hadoop/dfs/data
      volumes:
      - name: hadoop-config
        configMap:
          name: hadoop-config
  volumeClaimTemplates:
  - metadata:
      name: datanode-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 50Gi
